%p
  %a{:href=> "#", :id=>"ajouter_activite" ,:onClick => "ajouter_activité();", :class => "button"} Nouvelle activité
%table{:border => "0", :id=>'data-table-activites', :class => 'display'}
  %thead
    %tr
      %th Date
      %th Type
      %th Description
      %th Documents attachés
      %th Frais
      %th ID
  %tbody