%p
  %a{:href=> "#", :id=>"ajouter_consignation" ,:onClick => "ajouter_consignation();", :class => "button"} Nouvelle consignation
%table{:border => "0", :id=>'data-table-activites', :class => 'display'}
  %thead
    %tr
      %th Date
      %th Description
      %th Montant
      %th Responsable
      %th ID
  %tbody