%p
  %a{:href=> "#", :id=>"ajouter_consignation" ,:onClick => "ajouter_consignation();", :class => "button"} Nouvelle consignation
%table{:border => "0", :id=>'data-table-consignations', :class => 'display'}
  %thead
    %tr
      %th Description
      %th Montant demandé (Euros)
      %th Montant ordonné (Euros)
      %th Montant consigné (Euros)
      %th Montant payé (Euros)
      %th Montant provisionné (Euros)
      %th iD

  %tbody