%p
  %a{:href=> "#", :id=>"create_document" ,:onClick => "create_document();", :class => "button"} Ajouter un document
%table{:border => "0", :id=>'data-table-documents', :class => 'display'}
  %thead
    %tr
      %th Description
      %th Nom du fichier
      %th Taille
      %th Changé le
      %th ID
      %th Lien
  %tbody