%table{:border => "0", :class=>'recap-frais-consignation'}
  %tr
    %td 
      Frais engagés : 
      %span{:class => "recap-frais-figure"}
        = @dossier.total_ht
        Eur.
    %td 
      Total consigné : 
      %span{:class => "recap-frais-figure"}
        = @dossier.montant_consigne
        Eur.
    %td 
      A percevoir : 
      %span{:class => "recap-frais-figure"}
        = @dossier.montant_a_recevoir
        Eur.
    %td 
      Reste dû : 
      %span{:class => "recap-frais-figure"}
        = @dossier.reste_du
        Eur.
