%p
  %a{:href=> "#", :id=>"ajouter_frais" ,:onClick => "ajouter_frais();", :class => "button"} Saisir des frais
  %a{:href=> "#", :id=>"ajouter_frais" ,:onClick => "navigate_page('/dossiers/'+$('#dossier_id').val()+'/recap_frais');", :class => "button"} Frais en cours

=render 'encours_frais'

%table{:border => "0", :id=>'data-table-frais', :class => 'display'}

  %thead
    %tr
      %th Activité
      %th Type
      %th Date
      %th Description
      %th Prix unitaire
      %th Quantité
      %th Unité
      %th TVA
      %th Total
      %th ID
  %tbody

      
