%p
  %a{:href=> "#", :id=>"ajouter_contact" ,:onClick => "ajouter_contact();", :class => "button"} Ajouter un intervenant
%table{:border => "0", :id=>'data-table-acteurs', :class => 'display'}
  %thead
    %tr
      %th Acteur
      %th Nom
      %th Prénom
      %th Institution
      %th ID
  %tbody

      
    