<div id="parameter-content">
  <%= netzke :taux_tvas,
    :class_name => "Basepack::GridPanel",
    :model => "TauxTva",
    :strong_default_attrs => {:parametres_cabinet_id => current_user.parametres_cabinet_id},
    :columns => [:description, :taux],
    :scope => {:parametres_cabinet_id => current_user.parametres_cabinet_id},
    :view_config => {
        :force_fit => true # force the columns to occupy all the available width
      },
    :enable_edit_in_form => false
    #:prohibit_update => true,
    #:prohibit_delete => true,
    #:prohibit_create => true
  
  %>
</div>