<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @qualite_procedurale.description %>
</p>


<%= link_to 'Edit', edit_qualite_procedurale_path(@qualite_procedurale) %> |
<%= link_to 'Back', qualite_procedurales_path %>
