<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @type_activite.description %>
</p>


<%= link_to 'Edit', edit_type_activite_path(@type_activite) %> |
<%= link_to 'Back', type_activites_path %>
