<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @transmission_medium.description %>
</p>


<%= link_to 'Edit', edit_transmission_medium_path(@transmission_medium) %> |
<%= link_to 'Back', transmission_medias_path %>
