.sous-total{
	background:#999;
	font-weight: bold;
}


.figure-left{
	text-align:right;
}


.recap_frais th{
	text-align:left;
	border: 1px solid black;
	background:#D0D0D0;
}

.recap_frais td{
	border: 1px solid black;
}

.recap_frais{
	width:100%;
	border-collapse:collapse
}

#recap-frais-consignation{
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	background-color:#E2E4FF;
	border:1px solid #77D5F7;
}