<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @type_institution.description %>
</p>


<%= link_to 'Edit', edit_type_institution_path(@type_institution) %> |
<%= link_to 'Back', type_institutions_path %>
