%form#connexion
  %table
    %tr
      %td Email
      %td
        %input{:name => "user[email]", :class => "minuscule"}
    %tr
      %td Mot de passe
      %td
        %input{:type => "password", :name => "user[password]", :class => "minuscule"}