%table{:width => '100%'}
  %tr
    %td
      %h1 Dossiers en cours
      %table{:width => '50%'}
        %thead
          %th Dossier
        %tbody
          - current_user.dossiers.each do |dossier|
            %tr
              %td= link_to dossier.try(:nom_dossier), edit_dossier_path(dossier)
      
    %td{:width => '50%'}
      %h1 Prochaines alertes
      %table{:width => '100%'}
        %thead
          %th Dossier
          %th Description
          %th Date
        %tbody
          - current_user.reminders.find(:all, :order => "reminder_date ASC").each do |reminder|
            %tr
              %td= link_to reminder.dossier.try(:nom_dossier), edit_dossier_path(reminder.dossier)
              %td= reminder.description
              %td= reminder.reminder_date
          
      