<%= form_for(@parametres_cabinet) do |f| %>
  <% if @parametres_cabinet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parametres_cabinet.errors.count, "error") %> prohibited this parametres_cabinet from being saved:</h2>

      <ul>
      <% @parametres_cabinet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
