%div#parameters-list
  
  %div#categories-parameters-list
    %ul{:class=>"parameter-ul"}
      %li{:class=>"parameter-item"} Paramètres du cabinet
      %li{:class=>"parameter-item"} Civilités courrier
      %li{:class=>"parameter-item"} Qualités procédurales
      %li{:class=>"parameter-item"} Status des consignations
      %li{:class=>"parameter-item"} Type d'acteurs
      %li{:class=>"parameter-item"} Type d'activités
      %li{:class=>"parameter-item"} Types de décisions
      %li{:class=>"parameter-item"} Chronologie des dossiers
      %li{:class=>"parameter-item"} Types d'expertise
      %li{:class=>"parameter-item"} Types de sociétés
      %li{:class=>"parameter-item"} Types d'intervenants
      %li{:class=>"list-separator"}
      %li{:class=>"parameter-item"} Unités
      %li{:class=>"parameter-item"} Taux TVA
      %li{:class=>"parameter-item"} Catégories de frais
      %li{:class=>"parameter-item"} Types de dépenses

  %div#display-parameters-list
    = render 'form'
  

