%div#parameters-list
  
  %div#categories-parameters-list
    %ul{:class=>"parameter-ul"}
      %li{:class=>"parameter-item", :datacontent => "/parametres_cabinets/"+@parametres_cabinet.id.to_s+"/edit"} Paramètres du cabinet
      %li{:class=>"parameter-item", :datacontent =>"/type_adresses"} Civilités courrier
      %li{:class=>"parameter-item", :datacontent =>"/qualite_procedurales"} Qualités procédurales
      
      %li{:class=>"parameter-item", :datacontent =>"/type_acteurs"} Type d'acteurs
      %li{:class=>"parameter-item", :datacontent =>"/type_activites"} Type d'activités
      %li{:class=>"parameter-item", :datacontent =>"/type_decisions"} Types de décisions
      %li{:class=>"parameter-item", :datacontent =>"/type_etat_dossiers"} Chronologie des dossiers
      %li{:class=>"parameter-item", :datacontent =>"/type_expertises"} Types d'expertise
      %li{:class=>"parameter-item", :datacontent =>"/type_institutions"} Types de sociétés
      %li{:class=>"parameter-item", :datacontent =>"/type_intervenants"} Types d'intervenants
      %li{:class=>"list-separator"}
      %li{:class=>"parameter-item", :datacontent =>"/unites"} Unités
      %li{:class=>"parameter-item", :datacontent =>"/taux_tvas"} Taux TVA
      %li{:class=>"parameter-item", :datacontent =>"/categories"} Catégories de frais
      %li{:class=>"parameter-item", :datacontent =>"/items"}  Types de dépenses

  %div#display-parameters-list
    = render 'form'

