%h3 Edition d'un contact
%div#tabs
  %ul
    %li
      %a{:href=> "#tabs-0"} Fiche récapitulative
    %li
      %a{:href=> "#tabs-1"} Dossiers
    %li
      %a{:href=> "#tabs-2"} Activité
    %li
      %a{:href=> "#tabs-3"} Documents échangés
    %li{:style=>"float:right;"}
      %a{:href=> "#tabs-4",  :class => "removeRecord", :onClick => "delete_page('/contacts/"+@contact.id.to_s+"/destroy');"} Supprimer
      
  %div#tabs-0
    = render 'form'


  

