= render 'form'

%h3 Activité liée à ce contact

%div#tabs
  %ul
    %li
      %a{:href=> "#tabs-1"} Dossiers
    %li
      %a{:href=> "#tabs-2"} Activités
    %li
      %a{:href=> "#tabs-3"} Documents échangés

  %div#tabs-1
    %table{:class => "data-table-standard"}
      %thead
        %tr
          %th Référence
          %th Juridiction
          %th Nom de l'affaire
      %tbody
        - @contact.dossiers.each do |dossier|
          %tr
            %td= dossier[0]
            %td= dossier[2]
            %td= dossier[1]
  
  %div#tabs-2
  %div#tabs-3
