%div#activite-page
  %div#activite-left
    %div#left_collapsible
      = render 'form'
  
  %div#activite-right
    %div#height-accordion
      %div.accordion
        %h3
          %a{:href=>"#"} Communication
        %div
          = render "communication"


