<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @status_consignation.description %>
</p>


<%= link_to 'Edit', edit_status_consignation_path(@status_consignation) %> |
<%= link_to 'Back', status_consignations_path %>
