<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @type_status_consignation.description %>
</p>


<%= link_to 'Edit', edit_type_status_consignation_path(@type_status_consignation) %> |
<%= link_to 'Back', type_status_consignations_path %>
