<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @type_acteur.description %>
</p>


<%= link_to 'Edit', edit_type_acteur_path(@type_acteur) %> |
<%= link_to 'Back', type_acteurs_path %>
