<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @type_intervenant.description %>
</p>


<%= link_to 'Edit', edit_type_intervenant_path(@type_intervenant) %> |
<%= link_to 'Back', type_intervenants_path %>
