%div#topbar
  %ul{:id => "menu1", :class=>"menu"}
    %li.menumain
      %a{:href => "#"} Dossiers
      %ul
        %li
          %a{:href => "/dossiers/new"} Nouveau
        %li
          %a{:href => "/dossiers"} Ouvrir
    %li.menumain
      %a{:href => "#"} Contacts
      %ul
        %li
          %a{:href => "#", :onclick => "create_contact();"} Nouveau
        %li
          %a{:href => "/contacts"} Répertoire

 
    %li.menumain
      | 
    %li{:class=>"menumain", :style=>"float:right;"}
      %a{:href => "#"}= current_user.email 
      %ul
        %li
          %a{:href => "#", :onclick => "create_institution();"} Mon compte
        %li
          %a{:href => "/users/sign_out"} Se déconnecter  
      
  


