%div{:id=>"toolbar", :class=>"ui-corner-all"}
  %a#print Imprimer 
  %a{:id=>"save", :onClick=>"saveDirtyForms();"}Enregistrer
  %a#undo  &nbsp;
  %a#redo &nbsp;
  %a{:id=>"prevpage", :onClick=>"navigate_back();"} Page précédente
  %a{:id=>"nextpage", :onClick=>"navigate_next();"} Page suivante
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  %span#message
    - if notice || alert
      Status :
      = notice
      = alert
  %span{:id=>"progressbar", :class=>"ui-progressbar-value"} Chargement
  
:javascript
  $( "#print" ).button({
    icons: {
      primary: "ui-icon-print"
    }
    });
  
  $( "#save" ).button({
    icons: {
      primary: "ui-icon-disk"
    }
    });


  $( "#undo" ).button({
    
    icons: {
      primary: "ui-icon-arrowreturnthick-1-w"
    }
    });
    
  $( "#redo" ).button({
    icons: {
      primary: "ui-icon-arrowreturnthick-1-e"
    }
    });